
@font-face {
  font-family: 'WorkSans-Italic';
  src: url('WorkSans-Italic.eot?#iefix') format('embedded-opentype'),  url('WorkSans-Italic.woff') format('woff'), url('WorkSans-Italic.ttf')  format('truetype'), url('WorkSans-Italic.svg#WorkSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
